:root {
    --bgcolor: #111;
    --textcolor: #ddd;
    --details: #d2a213;
}

html {
    background-color: var(--bgcolor);
    font-family: 'Ubuntu Mono', monospace;
    color: var(--textcolor);
    font-size: 25px;
}

nav {
    display: flex;
    justify-content: space-evenly;
    padding: 15px;
    background-color: var(--bgcolor);
    border-radius: 10px;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: -40px;
}

@media screen and (max-width: 801px) {

    /* Change the display property to stack links vertically for phones */
    nav {
        display: block;

    }

    nav a {
        display: block;
        text-align: center;
        size: 18px;
    }

    header {
        margin-top: 50px;
        padding-top: 50px;
        width: 100%;
    }

    header img {
        width: 300px;
    }
}

nav a {
    color: var(--textcolor);
    text-decoration: none;
    padding: 15px;
    border-radius: 10px;
    text-align: center;

}

nav a:hover {
    background-color: var(--details);
    font-size: 27px;
    padding: 12px;
    transition: all 0.3s ease;

}

header {
    display: flex;
    justify-content: center;
    margin-top: -50px;

}

header img {
    width: 50%;
    text-align: center;
}

h1 {
    color: var(--details);

}

h2 {
    color: var(--details);
    margin: 10px;
}

h3 {
    color: var(--details);
    margin: 10px;
}

h4 {
    margin: 5px;
}

.checkboxDiv {
    margin: 20px;
}

label:hover {
    background-color: var(--details);
    font-size: 27px;
    padding: 12px;
    transition: all 0.3s ease;
}

label {
    margin-bottom: 50px;
    padding: 10px;
    border-radius: 10px;
}

input {
    display: none;

}

#gj15,
#gj14,
#gj13,
#gj12,
#gj11 {
    display: none;
}

#cb15:checked~#gj15,
#cb14:checked~#gj14,
#cb13:checked~#gj13,
#cb12:checked~#gj12,
#cb11:checked~#gj11 {
    display: block;
}

section {
    margin-left: 10%;
    margin-right: 10%;
}

main {
    margin-left: 10%;
    margin-right: 10%;
}

#organigramm {
    width: 100%;
}

#prodImageCCC {
    width: 35%;
}

main div {
    display: flex;
    justify-content: space-around;
}

.investorimage {
    width: 75%;
}

#videocont {
    width: 100%;
}

video {
    width: 100%;
    margin: 0 auto;
}